.main-header{
   background-image: url(slike/pozadina.jpg);
   background-size: cover;
   width: 80%;
   margin-right: auto;
   margin-left: auto; 
   margin-top: 0%;
   
   
   
   
   
   
}
.footer{
    background-color:rgb(240, 123, 45);
    padding-bottom: 40%;
    
}
.kursevi{
    text-align: center;
}